install/wsdl/connect_wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://entrypoint.webservices.library.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://entrypoint.webservices.library.fr/" name="ConnectionImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://entrypoint.webservices.library.fr/" schemaLocation="http://legion-titouan:8080/library-webservice8110079376350379511/connect?xsd=1"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="JWTCheckingException">
<part name="fault" element="tns:JWTCheckingException"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<portType name="IConnection">
<operation name="getUser">
<input wsam:Action="http://entrypoint.webservices.library.fr/IConnection/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://entrypoint.webservices.library.fr/IConnection/getUserResponse" message="tns:getUserResponse"/>
<fault message="tns:JWTCheckingException" name="JWTCheckingException" wsam:Action="http://entrypoint.webservices.library.fr/IConnection/getUser/Fault/JWTCheckingException"/>
</operation>
<operation name="login">
<input wsam:Action="http://entrypoint.webservices.library.fr/IConnection/loginRequest" message="tns:login"/>
<output wsam:Action="http://entrypoint.webservices.library.fr/IConnection/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://entrypoint.webservices.library.fr/IConnection/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://entrypoint.webservices.library.fr/IConnection/logoutResponse" message="tns:logoutResponse"/>
<fault message="tns:JWTCheckingException" name="JWTCheckingException" wsam:Action="http://entrypoint.webservices.library.fr/IConnection/logout/Fault/JWTCheckingException"/>
</operation>
</portType>
<binding name="ConnectionImplPortBinding" type="tns:IConnection">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JWTCheckingException">
<soap:fault name="JWTCheckingException" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JWTCheckingException">
<soap:fault name="JWTCheckingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ConnectionImplService">
<port name="ConnectionImplPort" binding="tns:ConnectionImplPortBinding">
<soap:address location="http://legion-titouan:8080/library-webservice8110079376350379511/connect"/>
</port>
</service>
</definitions>