install/wsdl/manage_wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://entrypoint.webservices.library.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://entrypoint.webservices.library.fr/" name="ManageImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://entrypoint.webservices.library.fr/" schemaLocation="http://legion-titouan:8080/library-webservice8110079376350379511/manage?xsd=1"/>
</xsd:schema>
</types>
<message name="loanExpired">
<part name="parameters" element="tns:loanExpired"/>
</message>
<message name="loanExpiredResponse">
<part name="parameters" element="tns:loanExpiredResponse"/>
</message>
<message name="getCurrentLoans">
<part name="parameters" element="tns:getCurrentLoans"/>
</message>
<message name="getCurrentLoansResponse">
<part name="parameters" element="tns:getCurrentLoansResponse"/>
</message>
<message name="JWTCheckingException">
<part name="fault" element="tns:JWTCheckingException"/>
</message>
<message name="getArchivedLoans">
<part name="parameters" element="tns:getArchivedLoans"/>
</message>
<message name="getArchivedLoansResponse">
<part name="parameters" element="tns:getArchivedLoansResponse"/>
</message>
<message name="extendLoan">
<part name="parameters" element="tns:extendLoan"/>
</message>
<message name="extendLoanResponse">
<part name="parameters" element="tns:extendLoanResponse"/>
</message>
<portType name="IManage">
<operation name="loanExpired">
<input wsam:Action="http://entrypoint.webservices.library.fr/IManage/loanExpiredRequest" message="tns:loanExpired"/>
<output wsam:Action="http://entrypoint.webservices.library.fr/IManage/loanExpiredResponse" message="tns:loanExpiredResponse"/>
</operation>
<operation name="getCurrentLoans">
<input wsam:Action="http://entrypoint.webservices.library.fr/IManage/getCurrentLoansRequest" message="tns:getCurrentLoans"/>
<output wsam:Action="http://entrypoint.webservices.library.fr/IManage/getCurrentLoansResponse" message="tns:getCurrentLoansResponse"/>
<fault message="tns:JWTCheckingException" name="JWTCheckingException" wsam:Action="http://entrypoint.webservices.library.fr/IManage/getCurrentLoans/Fault/JWTCheckingException"/>
</operation>
<operation name="getArchivedLoans">
<input wsam:Action="http://entrypoint.webservices.library.fr/IManage/getArchivedLoansRequest" message="tns:getArchivedLoans"/>
<output wsam:Action="http://entrypoint.webservices.library.fr/IManage/getArchivedLoansResponse" message="tns:getArchivedLoansResponse"/>
<fault message="tns:JWTCheckingException" name="JWTCheckingException" wsam:Action="http://entrypoint.webservices.library.fr/IManage/getArchivedLoans/Fault/JWTCheckingException"/>
</operation>
<operation name="extendLoan">
<input wsam:Action="http://entrypoint.webservices.library.fr/IManage/extendLoanRequest" message="tns:extendLoan"/>
<output wsam:Action="http://entrypoint.webservices.library.fr/IManage/extendLoanResponse" message="tns:extendLoanResponse"/>
<fault message="tns:JWTCheckingException" name="JWTCheckingException" wsam:Action="http://entrypoint.webservices.library.fr/IManage/extendLoan/Fault/JWTCheckingException"/>
</operation>
</portType>
<binding name="ManageImplPortBinding" type="tns:IManage">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loanExpired">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JWTCheckingException">
<soap:fault name="JWTCheckingException" use="literal"/>
</fault>
</operation>
<operation name="getArchivedLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JWTCheckingException">
<soap:fault name="JWTCheckingException" use="literal"/>
</fault>
</operation>
<operation name="extendLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JWTCheckingException">
<soap:fault name="JWTCheckingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ManageImplService">
<port name="ManageImplPort" binding="tns:ManageImplPortBinding">
<soap:address location="http://legion-titouan:8080/library-webservice8110079376350379511/manage"/>
</port>
</service>
</definitions>